!!!
html
  head
    title= app
    link(rel='stylesheet', href='/jo/css/jo.css')
  body
    script(type='text/javascript',src='/jo/js/jo.js')
    script(type='text/javascript',src='/joapp/#{app}/index.js')